@{
    ViewData["Title"] = "Home Page";
}


<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Branch">Branch</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Shift">Shift</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Curriculum">Curriculum</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="CurriculumInsert">Create new Curriculum</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Campus">Campus</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="CampusInsert">Create new Campus</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Student">Students</a><br />
<a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Buidling">Building</a><br />