
@{
    ViewData["Title"] = "CurriculumInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CurriculumInsert</h1>

<form action="CurriculumInsert" method="post">
    <input type="hidden" name="CurriculumId" />
    <input type="text" name="CurriculumName" placeholder="Curriculum Name" /><br />
    <button type="submit">Save</button>
</form>